<div class="container mt-4 text-center">
    <h1>Welcome to CSV Manager</h1>

    <!-- Display different buttons based on session status -->
    <% if (user) { %>
        <h3>Hello, <%= user.username %></h3>
        
        <!-- Dashboard button -->
        <a href="/dashboard/<%= user.groupId %>" class="btn btn-primary mt-3">Go to Dashboard</a>
        
        <!-- Generate Token button for Admins only -->
        <% if (user.role === 'Admin') { %>
            <form action="/generate-token" method="post" class="d-inline-block">
                <button id="generate-token-btn" data-groupid="<%= user.groupId %>" class="btn btn-warning mt-3">Generate Token</button>
            </form>
        <% } %>

        <!-- Logout button -->
        <form action="/logout" method="get" class="d-inline-block">
            <button type="submit" class="btn btn-danger mt-3">Logout</button>
        </form>
        <!-- Display the generated token here -->
        <div id="generated-token" class="mt-3"></div>
    <% } else { %>
        <!-- Login and Signup buttons -->
        <a href="/login" class="btn btn-primary mt-3">Login</a>
        <a href="/signup" class="btn btn-secondary mt-3">Sign Up</a>
    <% } %>
</div> 
<!-- Include the custom JavaScript file for home page -->
<script src="/js/home.js"></script>